/**************************General Styles*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Yekan Bakh VF";
    src: url('../fonts/Yekan_Bakh_Fanum_Regular.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Yekan Bakh VF", tahoma, arial, serif;
    font-family: "Vazirmatn", sans-serif;

}

:root {
    --bHover: #EDF4FC;
    --bColor: #0d6efd;
    --gray: #939393;
}

.fw-med {
    font-weight: 500;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}



.btns {
    padding: 15px 30px;
    border-radius: 13px;
}

.blueBtn {

    padding: 10px 20px;
    color: var(--bColor);
    border: 2px solid var(--bColor);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    font-size: 1.125rem;
}

.blueBtnNborder {
    border: 2px solid rgba(255, 255, 255, 0);

}

.blueBtn:hover {
    background-color: var(--bHover);

}

/**************************Header Styles*************************/
header {
    padding: 10px;
}

.menu,
.menu0 {
    list-style: none;
}

/* .menu li {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.menu0 a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
    transition: all ease-in-out .15s;
}

.menu0 a:hover {
    border-bottom: 5px solid #0d6efd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo {
    width: 90px;
    height: 63px;
}

.serviceDropdownItemes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    color: #000;
    border-radius: 30px;
    width: 100%;
}

.border-b {
    border-bottom: #ededed solid 2px;

}

.menu {
    padding-left: 0;
}

.menu li {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.menu li:hover {
    background-color: #EDF4FC;
}

.menuIcon {
    color: var(--bColor);
    display: none;
}

.menu li:hover .menuIcon {
    display: inline;
}

.OptionesImg {
    max-width: 100%;
    height: auto;
}

.service {
    position: relative;
    cursor: pointer;
}

.dropdownColumn {
    width: 260px;
}

.serviceDropdown,
.loanDropDown,
.contactDropDown {
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;

}

.serviceDropdownOn,
.loanDropDownOn,
.contactDropDownOn {
    display: block;
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    margin-top: 42px;
    z-index: 3;

}



.loanDropDownItemes,
.contactDropDownItemes {
    color: #000;
    border-radius: 30px;
    width: 100%;

}



/***********************************Circle Sec****************************/
.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: absolute;
    gap: 10px;
}

.txt h2 {
    color: #071952;
    font-size: xxx-large;
    font-weight: bold;
}

.blue {
    text-decoration: none;
    cursor: auto;

}

.blue:hover {
    color: var(--bColor);
}

.introduce {
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: var(--bColor);
    text-decoration: none;

}

.introduce:hover {
    background-color: #edf4fc;
}

.introduce i {
    padding: 5px;
    margin-top: 8px;
}

.circleSec {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box {
    position: relative;
    width: 500px;
    height: 500px;
    animation: animate 50s linear infinite;
}

@keyframes animate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.container:hover .box {
    animation-play-state: paused;
}

.box .img {
    position: relative;
    left: -63%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box .img .imgBx {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #ffffff;
    transform: rotate(calc(360deg/11 * var(--i)));
    transform-origin: 350px;
}

.box .img .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotate(calc(-360deg/11 * var(--i)));
    animation: animateImgBx 50s linear infinite;
}

@keyframes animateImgBx {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

.container:hover .img .imgBx img {
    animation-play-state: paused;
}

.fastCaption {
    text-align: right;
}

/***********************************card colors Div****************************/
.videoBox {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.cardColors {
    height: 100vh;
}

.blueLead {
    color: #718e9c;
    font-weight: 400;
    line-height: 180%;
}

.cards {
    background: #eef4fc;
    border-radius: 1.5rem;

}

.verticalBox {

    display: flex;
    align-items: center;
    justify-content: center;

}

.cardGrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.videoDiv {
    position: relative;
}

.colors {
    position: absolute;
    list-style: none;
    bottom: 0;
    padding: 25px;
}

.colorSelectionItem {
    list-style: none;
    margin-bottom: 1rem;
    width: 37px;
    height: 37px;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.colorSelectionItem:hover {
    border: 2px solid #4980e0;

}

.activeColor {
    border: 2px solid #4980e0;

}

.colorSelection {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
}

.selectedBlue {
    background: var(--bColor);

}

.selectedRed {
    background-color: #ff0d3b;
}

.selectedGreen {
    background-color: #00ab84;
}

.selectedPurple {
    background-color: #6558b1;
}

.selectedYellow {
    background-color: #ffd100;
}

.selectedRosegold {
    background-color: #e1a6ad;
}

.selectedBlack {
    background-color: #000;
}

.cardPos {
    position: absolute;
}

.op-0 {
    opacity: 0;
}

.cardsVertical {
    position: relative;
}

.VcardPos {
    position: absolute;
}

/***********************************Profit Div****************************/


.profitBox,
.loanBox {
    background-color: #E5F7F4;
    padding: 50px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
}

.loanBox {
    background-color: #F2F1F9;
}

.profitTxt,
.loanTxt {
    text-align: right;
    text-align: justify;

}


.profitImgBox,
.loanImgBox {
    text-align: left;
}

.profitImg {
    transition: all 0.3s ease;
    max-width: 200px;
    max-height: 200px;
}

.loanImg {
    transition: all 0.3s ease;
    max-width: 400px;
    max-height: 400px;

}

.iconBox {
    text-align: right;
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    background: white;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 45px;
    height: 45px;
}

.icon {
    font-size: 24px;
    transition: transform 0.3s ease;
    color: var(--bColor);
    padding-top: 5px;
}

.label {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #ffffff;


}

.profitBox:hover .icon-wrapper {
    width: 150px;
    background-color: var(--bColor);

}

.profitBox:hover .icon {
    color: #fff;
}

.profitBox:hover .label {
    opacity: 1;
    transform: scale(1);
}

.profitBox:hover .profitImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;

}



/***********************************Enjoy Div****************************/

.enjoyBox {
    background-color: #FBF2F3;
    padding: 50px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
}


.enjoyBox:hover .profitImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/***********************************Loan Sec****************************/



.loanBox:hover .icon-wrapper {
    width: 150px;
    background-color: var(--bColor);

}

.icon i {
    transform: rotate(45deg);
}

.loanBox:hover .icon {
    color: #fff;
}

.loanBox:hover .label {
    opacity: 1;
    transform: scale(1);
}

.loanBox:hover .loanImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

/***********************************blueLine Sec****************************/
.blueLine {
    background: url(../images/Orbit.svg);
    background-position-x: 70%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-color: var(--bColor);
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 100px;
}

.blueLineTxt {
    color: #fff;
    margin-right: 30px;
}

.blueLineTxt h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 160%;
}

.blueLineUl {
    list-style: none;
    padding: 20px;
    padding-right: 50px;
    gap: 45px;
    font-weight: 400;
    font-size: 20px;

}

.reviewItem {
    background-color: var(--grayBg);
    padding: 20px;
    border-radius: 20px;
}

.collection{
    height:500px; 
    overflow: hidden;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection .content{
    height: 160px;
    width: 600px;
    border-radius: .7rem;
    overflow: hidden;
    /* padding: .2rem; */
}
.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}
.btn{
    background-color: #0099ff;
    border: 2px solid #0099ff;
    outline: none;
    border-radius: .5rem;
    margin: 1rem 0;
    cursor: pointer;
}

/***********************************Swiper Slider****************************/

.swiperBlueLine {
    background-color: #ffffffff;
    color: var(--bColor);
    width: 80%;
    border-radius: 1rem;
    border-top-left-radius: .3rem;
    padding: 1rem;

}
.swiperP{
    font-size: 14px;
}
.userBlue {
    text-align: left;
}

.blueLineAnswer {
    text-align: right;
    background-color: #185fb5;
    color: white;
    width: 80%;
    border-radius: 1rem;
    border-top-right-radius: .3rem;
}
.titleSmall{
    font-size: 12px;
    color: #8caeda;

}
.blueLineGradient {
    height: 522px;
    position: absolute;
    width: 700px;
    z-index: 2;
    background: linear-gradient(to bottom,
  rgba(13, 110, 253, 1) 0%,
  rgba(13, 110, 253, 0.5) 25%,
  rgba(13, 110, 253, 0) 50%,
  rgba(13, 110, 253, 0.5) 75%,
  rgba(13, 110, 253, 1) 100%
);
}
/***********************************Review Slider****************************/
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.socialMedia {
    width: 100%;
    padding: 50px 0;

}

.sliderTop {
    width: 100%;
}

.owl-carousel {
    width: 100%;
    overflow: hidden;
}

.reviewBox {
    background: #F7F9FA;
    padding: 20px 20px;
    margin: 10px;
    color: #000;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
}


.photo img {
    width: 50px;
    margin-left: 20px;
}

.user p {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray);
}

.review i {
    font-size: 30px;
    color: var(--gray);
}

/****************************************teaser sec******************************************/
.teaserSec {
    margin-bottom: 50px;
    margin-top: 100px;
}

.teaser {
    position: relative;
}

.teaserContent {
    background: url('../images/teaser-background.svg') no-repeat;
    background-size: cover;
    border-radius: 1rem;
    color: white;
    position: relative;
    margin-top: 10rem;
    height: 350px;
    padding: 48px 80px;
    margin: 20px;
}

.blue-fs-h2 {
    font-size: 2rem;
    line-height: 160%;
}

.teaserContent p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.teaserImg {
    position: absolute;
    bottom: 0;
    left: 20px;
    text-align: center;
    max-width: 565px;

}

.teaserImg img {
    margin: 0;
    width: 100%;
}

.faqSpan {
    background-color: #00ab84;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4rem;
}

.findAnswers {
    color: var(--gray);
}

.faqBtnS {
    padding: 5px 10px;
    border: solid 2px #f1efef;

    border-radius: 4rem;
    font-weight: 500;
    transition: all ease .3s;
}

.faqBtn {
    color: var(--gray);
    background-color: #fff;
}

.faqBtn:hover {
    background-color: var(--bHover);
}

.faqBtnClicked {
    background-color: var(--bColor);
    color: #fff;
}

.faqBtnClicked:hover {
    background-color: #0b5ed7;
}

.questionBoxS {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    border-bottom: solid 2px #f1efef;
    transition: all ease .5s, opacity ease .5s;

}

.questionBox:hover {
    background-color: var(--bHover);
}

.questionBoxClicked {
    background-color: var(--bColor);
    color: #fff;
}

.questionBoxClicked {
    background-color: #458ce2 !important;
}

.questionBtn {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 218%;
    background-color: transparent;
    border: none;
}

.questionBtnClicked {
    color: #fff;
}

.plusIcon {
    line-height: 1rem;
    padding-left: 15px;
    color: var(--bColor);
    transition: transform ease .4s;
}

.plusIconClicked {
    transform: rotate(45deg);
    color: #fff;
}

.answerBox {
    margin: 0 23px 0 0;
    border-right: 2px solid #6e9be5;
    color: #fff;
    opacity: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;

}

.answerBoxClicked {
    opacity: 1;
    padding: 0 39px 2rem 0;
    max-height: 200px;
}

.answer {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 175%;
}

.answer a {
    text-decoration: none;
    color: #ccc;

}

.openAccountQ {
    opacity: 0;
}

.topFooter {
    background-color: #F2F5F6;
    height: 100vh;
}

.blueLogo p {
    text-align: center;
    font-size: 10px;
}

.goUp {
    font-size: 28px;
    color: var(--bColor);
}

.goUp i {
    text-decoration: none;

}

.footerServices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 1;
    gap: 20px;
}

.content {
    width: 100%;
}

.content h6 {
    font-weight: bold;
}

.content ul {
    font-size: 14px;
    line-height: 3;
}

.content a {
    text-decoration: none;
    color: var(--gray);

    transition: all ease .3s;

}

.content a:hover {
    font-size: 14pxÙ‘;
    font-weight: bold;
}

.content a:visited {
    color: var(--gray);
}

.blueDownload h4 {
    font-size: 20px;
    font-weight: 700;
}

.footerTop {
    background-color: #F2F5F6;
    padding-bottom: 30px;
}

.footerInfo {
    color: #253035;
    font-size: 14px;
}

.footerBottom {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #E4EAEC;
    border-top: 2px solid #D2DBE0;
}