/**************************General Styles*************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Yekan Bakh VF";
    src: url('../assets/fonts/Yekan_Bakh_Fanum_Regular.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Yekan Bakh VF", tahoma, arial, serif;
}


.fw-med {
    font-weight: 500;
}
.mb-130{
    margin-bottom: 130px;
}
.mb-80{
    margin-bottom: 80px;
}
:root {
    --bHover: #EDF4FC;
    --bColor: #0d6efd;
    --gray: #939393;
}

.btns {
    padding: 15px 30px;
    border-radius: 13px;
}

.blueBtn {

    padding: 10px 20px;
    color: var(--bColor);
    border: 2px solid var(--bColor);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    font-size: 1.125rem;
}

.blueBtnNborder {
    border: 2px solid rgba(255, 255, 255, 0);

}

.blueBtn:hover {
    background-color: var(--bHover);

}

/**************************Header Styles*************************/
header {
    padding: 10px;
}

.menu,
.menu0 {
    list-style: none;
}

/* .menu li {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.menu0 a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
    transition: all ease-in-out .15s;
}

.menu0 a:hover {
    border-bottom: 5px solid #0d6efd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo {
    width: 90px;
    height: 63px;
}

.serviceDropdownItemes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    color: #000;
    border-radius: 30px;
    width: 100%;
}

.border-b {
    border-bottom: #ededed solid 2px;

}

.menu {
    padding-left: 0;
}

.menu li {
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.menu li:hover {
    background-color: #EDF4FC;
}

.menuIcon {
    color: var(--bColor);
    display: none;
}

.menu li:hover .menuIcon {
    display: inline;
}

.OptionesImg {
    max-width: 100%;
    height: auto;
}

.service {
    position: relative;
    cursor: pointer;
}

.dropdownColumn {
    width: 260px;
}

.serviceDropdown,
.loanDropDown,
.contactDropDown {
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;

}

.serviceDropdownOn,
.loanDropDownOn,
.contactDropDownOn {
    display: block;
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    margin-top: 42px;
    z-index: 3;

}



.loanDropDownItemes,
.contactDropDownItemes {
    color: #000;
    border-radius: 30px;
    width: 100%;

}



/***********************************Circle Sec****************************/
.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: absolute;
    gap: 10px;
}

.txt h2 {
    color: #071952;
    font-size: xxx-large;
    font-weight: bold;
}

.blue {
    text-decoration: none;
    cursor: auto;

}

.blue:hover {
    color: var(--bColor);
}

.introduce {
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: var(--bColor);
    text-decoration: none;

}

.introduce:hover {
    background-color: #edf4fc;
}

.introduce i {
    padding: 5px;
    margin-top: 8px;
}

.circleSec {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box {
    position: relative;
    width: 500px;
    height: 500px;
    animation: animate 50s linear infinite;
}

@keyframes animate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.container:hover .box {
    animation-play-state: paused;
}

.box .img {
    position: relative;
    left: -63%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box .img .imgBx {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #ffffff;
    transform: rotate(calc(360deg/11 * var(--i)));
    transform-origin: 350px;
}

.box .img .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotate(calc(-360deg/11 * var(--i)));
    animation: animateImgBx 50s linear infinite;
}

@keyframes animateImgBx {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

.container:hover .img .imgBx img {
    animation-play-state: paused;
}

/***********************************card colors Div****************************/
.videoBox{
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.cardColors {
    height: 100vh;
}

.blueLead {
    color: #718e9c;
    font-weight: 400;
    line-height: 180%;
}
.cards{
     background: #eef4fc;
    border-radius: 1.5rem;

}
.verticalBox {
   
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardGrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.videoDiv {
    position: relative;
}

.colors {
    position: absolute;
    list-style: none;
    bottom: 0;
    padding: 25px;
}

.colorSelectionItem {
    list-style: none;
    margin-bottom: 1rem;
    width: 37px;
    height: 37px;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.colorSelectionItem:hover {
    border: 2px solid #4980e0;

}
.active{
    border: 2px solid #4980e0;

}

.colorSelection {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
}

.selectedBlue {
    background: var(--bColor);

}
.selectedRed{
    background-color: #ff0d3b;
}
.selectedGreen{
    background-color: #00ab84;
}
.selectedPurple{
    background-color: #6558b1;
}
.selectedYellow{
    background-color: #ffd100;
}
.selectedRosegold{
    background-color: #e1a6ad;
}
.selectedBlack{
    background-color: #000;
}
.cardPos{
    position: absolute;
}
.op-0{
    opacity: 0;
}
.cardsVertical{
    position: relative;
}
.VcardPos{
    position: absolute;
}

/***********************************Profit Div****************************/


.profitBox,
.loanBox {
    background-color: #E5F7F4;
    padding: 50px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
}

.loanBox {
    background-color: #F2F1F9;
}

.profitTxt,
.loanTxt {
    text-align: right;
    text-align: justify;

}


.profitImgBox,
.loanImgBox {
    text-align: left;
}

.profitImg {
    transition: all 0.3s ease;
    max-width: 200px;
    max-height: 200px;
}

.loanImg {
    transition: all 0.3s ease;
    max-width: 400px;
    max-height: 400px;

}

.iconBox {
    text-align: right;
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    background: white;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 45px;
    height: 45px;
}

.icon {
    font-size: 24px;
    transition: transform 0.3s ease;
    color: var(--bColor);
}

.label {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #ffffff;


}

.profitBox:hover .icon-wrapper {
    width: 150px;
    background-color: var(--bColor);

}

.profitBox:hover .icon {
    color: #fff;
}

.profitBox:hover .label {
    opacity: 1;
    transform: scale(1);
}

.profitBox:hover .profitImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;

}



/***********************************Enjoy Div****************************/

.enjoyBox {
    background-color: #FBF2F3;
    padding: 50px;
    border-radius: 30px;
    margin-top: 20px;
    overflow: hidden;
}


.enjoyBox:hover .profitImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/***********************************Loan Sec****************************/



.loanBox:hover .icon-wrapper {
    width: 150px;
    background-color: var(--bColor);

}

.icon i {
    transform: rotate(45deg);
}

.loanBox:hover .icon {
    color: #fff;
}

.loanBox:hover .label {
    opacity: 1;
    transform: scale(1);
}

.loanBox:hover .loanImg {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

/***********************************blueLine Sec****************************/
.blueLine {
    background: url(../images/Orbit.svg);
    background-position-x: 70%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-color: var(--bColor);
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.blueLineTxt {
    color: #fff;
}

.blueLineTxt h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 160%;
}

.blueLineUl {
    list-style: none;
    padding: 20px;
    padding-right: 40px;
    gap: 45px;
    font-weight: 400;
    font-size: 20px;

}

.reviewItem {
    background-color: var(--grayBg);
    padding: 20px;
    border-radius: 20px;
}



/***********************************Slider****************************/
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.socialMedia {
    width: 100%;
    padding: 50px 0;

}

.sliderTop {
    width: 100%;
}

.owl-carousel {
    width: 100%;
    overflow: hidden;
}

.reviewBox {
    background: #F7F9FA;
    padding: 40px 20px;
    margin: 10px;
    color: #000;
    border-radius: 12px;
    text-align: center;
    min-height: 100px;
    width: 380px;
}


.photo img {
    width: 50px;
    margin-left: 20px;
}

.user p {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray);
}

.review i {
    font-size: 30px;
    color: var(--gray);
}

/****************************************teaser sec******************************************/
.teaserSec {
    margin-bottom: 50px;
    margin-top: 50px;
}

.teaser {
    position: relative;
}

.teaserContent {
    background: url('../images/teaser-background.svg') no-repeat;
    background-size: cover;
    border-radius: 1rem;
    color: white;
    position: relative;
    margin-top: 10rem;
    height: 350px;
    padding: 48px 80px;
    margin: 20px;
}

.blue-fs-h2 {
    font-size: 2rem;
    line-height: 160%;
}

.teaserContent p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.teaserImg {
    position: absolute;
    bottom: 0;
    left: 20px;
    text-align: center;
    max-width: 565px;

}

.teaserImg img {
    margin: 0;
    width: 100%;
}